.toggle {
  padding: 5px 10px;
  transform: skewX(-8deg);
  background: var(--color-black);
  border: 2px solid var(--color-text-main);
  color: var(--color-text-main);
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
}

.toggle:hover {
  background: var(--color-text-main);
  color: var(--color-black);
}
